html {
    box-sizing: border-box;
}

html * {
    max-height: 1000000px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a[href^="tel"] {
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
input,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

input:focus,
a:focus,
button:focus {
    outline: none;
}




@font-face {
    font-family: "Rotondac";
    src: url('../Content/fonts/RotondaC.eot');
    src: url('../Content/fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
        url('../Content/fonts/RotondaC.woff2') format('woff2'),
        url('../Content/fonts/RotondaC.woff') format('woff'),
        url('../Content/fonts/RotondaC.ttf') format('truetype'),
        url('../Content/fonts/RotondaC.svg#RotondaC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rotondac";
    src: url('../Content/fonts/RotondaC-Bold.eot');
    src: url('../Content/fonts/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Content/fonts/RotondaC-Bold.woff2') format('woff2'),
        url('../Content/fonts/RotondaC-Bold.woff') format('woff'),
        url('../Content/fonts/RotondaC-Bold.ttf') format('truetype'),
        url('../Content/fonts/RotondaC-Bold.svg#RotondaC-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url('../Content/fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../Content/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../Content/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../Content/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../Content/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
        url('../Content/fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url('../Content/fonts/helveticaneuecyr-ultralight.otf');
    src: url('../Content/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
         url('../Content/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
         url('../Content/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
         url('../Content/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
         url('../Content/fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}



body {
    font-size: 16px;
    line-height: 1.4;
    font-family: Rotondac;
    background: #FCF4E7;
}


a {
    transition: 0.25s;
}

a:hover {
    color: #cd4d47;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

.section_about_image {
    max-width: 544px;
    border-radius: 50%;
    overflow: hidden;
    width: 44%;
}

.section_about_image img {
    display: block;
}

.section_about_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn_def {
    background: #E2231A;
    color: #fff;
    text-decoration: none;
    appearance: none;
    border-radius: 100px;
    border: none;
    font-family: RotondaC;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.section_tiggers_wrap {
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    padding: 72px 20px 60px;
    box-shadow: 0 18px 20px -15px rgb(0 0 0 / 0.1);
}

.section_tiggers_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

footer.main_footer {
    background: #FFFFFF;
    position: relative;
    color: #757578;
    padding-top: 17px;
}

.under_footer {
    height: 110px;
    z-index: 1;
    background: url(../images/bg/footer_bg.png);
    background-size: 100% 110px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.section_live_image {
    width: 40.5%;
    margin-right: 5%;
}

.section_live_image img {
    width: 100%;
}

.main_footer_bottom_social_list a {
    display: inline-flex;
    background: #DB6173;
    vertical-align: middle;
    width: 40px;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    padding: 9px;
    margin-left: 12px;
}

.main_footer_bottom_social_list a:hover {
    background: #cd4d47;
}

.main_footer_bottom .container {
    border-top: 1px solid rgb(0 0 0 / 0.1);
}

.main_footer_top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul.main_footer_top_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.main_footer_top_menu a {
    color: #757578;
    font-size: 17px;
    text-decoration: none;
}

.main_footer_top_icons span {
    display: inline-block;
    margin-right: 45px;
    font-size: 0;
}

.main_footer_top_icons span:last-child {
    margin-right: 0;
}

.main_footer_top {
    padding-bottom: 70px;
}

.main_footer_top_icons {
    display: flex;
    align-items: center;
}

.main_footer_top_menu li {
    margin-left: 32px;
}

.main_footer_top_menu li:first-child {
    margin-left: 0;
}

.main_footer_top_menu a:hover {
    color: #cd4d47;
}

.main_footer_bottom_social_title {
    font-size: 18px;
    margin-right: 25px;
}

.main_footer_bottom_social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main_footer_bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 45px;
}

.main_footer_bottom_social_list a:first-child {
    margin: 0;
}

.main_footer_bottom {
    font-size: 18px;
}

span.main_footer_bottom_info_text {
    margin-right: 55px;
}

a.main_footer_bottom_info_mail {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

a.main_footer_bottom_info_mail img {
    margin-right: 12px;
    margin-top: -3px;
}

.btn_give_huggs {
    padding: 19px 10px 17px;
    width: 100%;
    max-width: 276px;
}

.btn_def:hover {
    background: #cd4d47;
    color: #fff;
}

a.main_footer_bottom_info_mail:hover {
    color: #cd4d47;
}

.section_tigger_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
    color: #D76271;
    margin-top: 20px;
    max-width: 290px;
    margin: 20px auto 0;
}

.section_title {
    font-size: 50px;
    font-weight: 100;
    color: #333;
    font-family: Helvetica;
    line-height: 1.175;
    margin-bottom: 25px;
}

.section_text {
    color: #828282;
    font-family: Helvetica;
    line-height: 1.4;
    font-size: 22px;
    margin-bottom: 30px;
}

.section_about_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_live_info_text p {
    margin-bottom: 35px;
}

.section_live_info_text p:last-child {
    margin-bottom: 0;
}

.section_about_info {
    margin-left: 6.5%;
    width: 49.5%;
}

.section_about_bottom_images img {
    margin-right: 40px;
    width: 105px;
}

.section_about {
    margin-bottom: 100px;
}

.section_tiggers {
    margin-bottom: 135px;
}

.section_live {
    margin-bottom: 110px;
}

.section_tiggers_title {
    font-weight: 100;
    font-size: 50px;
    font-family: Helvetica;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.15;
    letter-spacing: 1px;
}

.section_tiggers_text {
    color: #828282;
    font-size: 24px;
    margin-bottom: 40px;
}

ul.header_main_menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 44px;
}

ul.header_main_menu a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.header_main_social a {
    display: inline-flex;
    background: #DB6173;
    vertical-align: middle;
    width: 40px;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    padding: 9px;
    margin-left: 12px;
}

ul.header_main_menu li {
    margin-left: 50px;
}

ul.header_main_menu li:first-child {
    margin-left: 0;
}

.header_main_social a:first-child {
    margin-left: 0;
}

header.header_main .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}

.header_main_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}

header.header_main {
    padding: 22px 0;
}

h1.section_banner_title {
    font-weight: 100;
    font-family: Helvetica;
    color: #333333;
    font-size: 94px;
    line-height: 0.95;
    margin: 0;
    max-width: 500px;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.section_banner_text {
    color: #828282;
    font-size: 24px;
    margin-bottom: 16px;
    font-family: Helvetica;
    max-width: 500px;
    line-height: 1.3;
}

.section_banner_info_wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 46px;
    flex-direction: row;
}

.section_banner_info_text {
    font-size: 20px;
    color: #828282;
    font-family: Helvetica;
    line-height: 1.25;
    max-width: 360px;
    padding-top: 6px;
}

.section_banner_count_item {
    background: #DB6173;
    border-radius: 13.6476px;
    font-family: Helvetica;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    border-bottom: 3px solid #CB394F;
    margin-right: 5px;
    padding: 18px 17px 9px;
    position: relative;
    top: 0;
}

.section_banner_count_el {
    display: flex;
    flex-wrap: wrap;
    margin: 0 27px 0 27px;
}

.section_banner_count_item:before {
    content: '';
    background: linear-gradient(180deg, #C54659 0%, rgb(208 77 96 / 5%) 100%);
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    height: 50%;
    top: 0;
}

.section_banner_count_item:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.07;
    background: #3a3a3a;
}

.section_live_info {
    margin-right: 9.5%;
    width: 40%;
}

.section_live_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section_live_info_title {
    max-width: 400px;
}

ul.header_main_menu a:hover {
    color: #cd4d47;
}

.header_main_social a:hover {
    background: #cd4d47;
}

.section_banner_count {
    background: #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    padding: 37px 44px 40px 54px;
    position: absolute;
    z-index: 100;
    right: 14px;
    bottom: -175px;
    box-shadow: 0 18px 20px -15px rgb(0 0 0 / 0.1);
}

.section_banner_count_text {
    max-width: 241px;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 38px;
    line-height: 1.05;
    color: #333333;
    letter-spacing: 1px;
}

.section_banner_info_text a {
    color: #DB6173;
    text-decoration: none;
}

.section_banner_info_text a:hover {
    color: #cd4e47;
}

img.section_banner_image {
    width: 176px;
    margin-right: 30px;
}

.section_banner_bottom {
    height: 110px;
    background: url(../images/bg/header_bg.png);
    background-size: 100% 110px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-top: -100px;
    z-index: 10;
    position: relative;
    margin-bottom: 110px;
}

.top_block {
    background-color: #fff;
    padding-bottom: 100px;
    background-image: url(../images/banner.jpg);
    background-position: calc(50% + 15px) -10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section_banner {
    padding-top: 39px;
    padding-bottom: 55px;
}

section.section_block.section_banner .container {
    position: relative;
}

.header_main_logo img {
    width: 130px;
}

.section_banner_count_item_first {
    margin-right: 21px;
}

.fancybox-bg {
    background: #fff;
}

.modal_def {
    background: #FFFFFF;
    box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    border-radius: 20px;
    max-width: 820px;
    width: 98%;
    padding: 60px 20px 140px;
    font-family: Rotondac;
}

.modal_share_text {
    text-align: center;
    color: #757578;
    font-size: 18px;
    max-width: 500px;
    line-height: 1.37;
    margin: 0 auto 20px;
}

.modal_share_title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 17px;
    letter-spacing: -0.75px;
    color: #DB6173;
}

.modal_share_form {
    max-width: 300px;
    margin: 0 auto;
}

input.modal_share_form_field {
    background: rgba(234, 234, 234, 0.43);
    border: 1px solid #DEDEDE;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 10px 10px 14px;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 20px;
    color: #A8842F;
}

.modal_share_form_title {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
    color: #757578;
}

.btn_send {
    padding: 19px 10px 16px;
    max-width: 240px;
    margin: 0 auto;
    display: block;
}

input.modal_share_form_field::placeholder {
    color: #BDBDBD;
    opacity: 0.5;
}

.modal_share_wrap {
    max-width: 575px;
    margin: 0 auto;
}

.line_trigger {
    position: absolute;
    top: 30%;
    z-index: 1;
}

.section_tigger {
    position: relative;
    z-index: 10;
}

.line_trigger_2 {
    left: 63%;
}

.line_trigger_1 {
    left: 31.5%;
}

.btn_menu {
    display: none;
}

.modal_menu {
    transition: 0.5s;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgb(255 255 255 / 0.97);
    opacity: 0;
    visibility: hidden;
}

.modal_menu.active {
    visibility: visible;
    z-index: 1000;
    opacity: 1;
}

.modal_menu .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal_menu .header_main_info {
    display: flex;
    flex-direction: column;
}

.modal_menu ul.header_main_menu {
    margin: 0;
    margin-bottom: 50px;
    flex-direction: column;
}

.modal_menu ul.header_main_menu li {
    margin: 0 0 25px;
}

.modal_menu ul.header_main_menu li:last-child {
    margin-bottom: 0;
}

.modal_menu .header_main_logo {
    margin-bottom: 50px;
}

.btn_modal_menu_close {
    position: absolute;
    right: 15px;
    top: 30px;
    width: 36px;
    height: 36px;
}

.btn_modal_menu_close span:before,
.btn_modal_menu_close span:after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #666;
    margin: auto;
    position: absolute;
    top: 7px;
    left: 2px;
    border-radius: 10px;
}

.btn_modal_menu_close span:after {
    transform: rotate(45deg);
}

.btn_modal_menu_close span {
    position: relative;
    height: 100%;
    display: block;
}

.btn_modal_menu_close span:before {
    transform: rotate(-45deg);
}

img.footer_icon_1 {
    width: 130px;
}

.section_banner_title__under {
    color: #828282;
    font-size: 25px;
    margin-bottom: 13px;
    font-weight: 300;
    font-family: Helvetica;
}

.section_about_bottom_images {
    margin-bottom: 25px;
}

header.header_main:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 270px;
    background: linear-gradient(180deg, #FFFEFD 0%, rgba(255, 254, 253, 0) 100%);
}
.banner_mobile{display: none;}
.modal_share {
    background-image: url(../images/bg_modal.png);
    background-size: 100% auto;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.modal_share_social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.modal_share_social a {
    margin: 0 13px;
}

.modal_share_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.modal_share_logo img {
    width: 100px;
    margin: 0 15px;
}

.modal_thanks {
    padding: 76px 20px 160px;
}

.modal_share_social a:hover {
    opacity: 0.5;
    filter: grayscale(1);
}
.btn_send[disabled] {
    opacity: 0.5;
    filter: grayscale(1);
    background: #cd4d47;
}

.header_main.header_main--page {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.138);
    padding: 14px 0px;
    background: #fff;
    margin-bottom: 0;
    position: relative;
}
.content_page__inner {
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    border-radius: 5px;
    padding: 50px 60px;
}

.def__text>* {
    margin-bottom: 18px;
}

.def__text>*:last-child {
    margin-bottom: 0;
}

.def__text ul,.def__text ol {
    padding-left: 35px;
}

.def__text {
    line-height: 1.65;
    font-size: 17px;
    color: #757578;
}

.def__text h1,.def__text h2,.def__text h3 {
    color: #222;
    margin: 0 0 18px;
}

.def__text h2 {
    font-size: 24px;
    line-height: 1.5;
}

.def__text h3 {
    font-size: 20px;
    line-height: 1.5;
}

.def__text h1 {
    font-size: 28px;
    line-height: 1.5;
}

.def__text li {
    margin-bottom: 10px;
}

header.header_main.header_main--page:after {
    display: none;
}

.content_page {
    padding: 0 0 50px;
}
.title__2 {
    font-size: 50px;
    font-family: Helvetica;
    font-weight: 100;
    color: #E2231A;
    margin-bottom: 30px;
}
.content_page__top .title__2 {
    margin-bottom: 0;
}

.content_page__top {
    padding: 75px 0;
    padding-bottom: 100px;
    background-image: url(../images/child_bg.jpg);
    background-position: calc(50% + 15px) -10px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1230px;
    margin: 0 auto;
}

.faq_wrap {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    border-radius: 5px;
    padding: 40px 75px 30px;
}

.faq_wrap_title {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 0px;
    line-height: 1.2;
}

.faq_item_question {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
}

.faq_item_head {
    display: flex;
    align-items: center;
    border-bottom: 2px dashed #ececec;
    padding: 45px 0px;
    transition-delay: 0.4s;
}

.faq_item_btn {
    background: #A78524;
    padding: 3px;
    line-height: 48px;
    text-align: center;
    font-size: 0;
    border-radius: 50%;
    margin-right: 35px;
    cursor: pointer;
    margin-top: -3px;
}

.faq_item_btn_inner {
    background: #fff;
    border-radius: 50%;
    line-height: 48px;
    width: 42px;
    height: 42px;
    position: relative;
}

.faq_item_info {
    background: #F8F5F5;
    margin-left: -60px;
    margin-right: -60px;
    padding: 45px 75px;
    font-size: 18px;
    line-height: 1.5;
    display: none;
    position: relative;
    color: #757578;
}

.faq_item_info>p {
    margin-bottom: 20px;
}

.faq_item_info a {
    color: #A78524;
    text-decoration: none;
}

.faq_item_info a:hover {
    color: #757575;
}

.faq_title {
    font-size: 50px;
    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 35px;
    max-width: 500px;
    line-height: 1.08;
}

.faq_title span {
    color: #E2231A;
}

.faq_item_info.faq_item_info_list {
    background: #fff;
    box-shadow: none;
    padding: 0 75px;
}

.faq_item_info_item_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

.faq_item_info_item_text {
    margin-bottom: 7px;
}

.faq_item_info_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ececec;
    padding: 35px 0;
}


.faq_item_btn_inner:after,
.faq_item_btn_inner:before {
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 3px;
    border-radius: 5px;
    content: '';
    background: #A78524;
    display: block;
    position: absolute;
}

.faq_item_btn_inner:after {
    transform: rotate(90deg);
}

.faq_item_btn:hover {
    background: #cbcbcc;
}

.faq_item_btn:hover .faq_item_btn_inner:after,
.faq_item_btn:hover .faq_item_btn_inner:before {
    background: #cbcbcc;
}

.faq_item.active .faq_item_btn {
    background: #cbcbcc;
}

.faq_item.active .faq_item_btn_inner:after {
    width: 0;
}


.faq_item.active .faq_item_head {
    border-color: transparent;
    transition-delay: 0s;
}

.faq_item:last-child .faq_item_head {
    border-bottom: 0;
}

.faq_item.active .faq_item_btn_inner:before {
    background: #cbcbcc;
}

.faq_item_info_item:last-child {
    border-bottom: none;
}

.content_faq__page__title {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 0px;
    line-height: 1.2;
}
.faq_item_info:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background: #f8f5f5;
    top: -16px;
    transform: rotate(45deg);
    left: 68px;
    opacity: 0;
    transition-delay: 0.4s;
}
.faq_item.active .faq_item_info:before {
    opacity: 1;
    transition-delay: 0.4s;
    width: 32px;
    height: 32px;
}
.faq_item_info>*:last-child {
    margin-bottom: 0;
}
.faq_item.active .faq_item_question {
    color: #A78524;
}
header.header_main.header_main--page .container {
    justify-content: space-between;
}