@media screen and (min-width:2000px) {
    .top_block:after {
        content: '';
        height: 85%;
        right: calc(100% / 2 - 2010px / 2);
        display: block;
        position: absolute;
        background: linear-gradient(270deg, #FFFEFD 0%, rgb(255 255 255) 50%, rgba(255, 254, 253, 0) 100%);
        width: 100px;
        top: 0;
        z-index: 0;
    }
}

@media screen and (max-width:1999px) {
    .top_block {
        background-size: cover;
        background-position: 70% 0;
    }
}


@media screen and (max-width:1200px) {
    .section_about_bottom {
        flex-direction: column;
        align-items: self-start;
    }

    .section_about_bottom_images img:first-child {
        margin-left: 0;
    }

    .section_about_bottom_images {
        margin-top: 30px;
    }
}

@media screen and (max-width:1100px) {
    .section_about_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .section_about_image {
        max-width: 400px;
        margin-bottom: 30px;
        width: 100%;
    }

    .section_about_info {
        margin: 0;
        width: 100%;
        max-width: 600px;
    }
}


@media screen and (max-width:1050px) {
    header.header_main .container {
        justify-content: space-between;
    }


    img.section_banner_image {
        width: 100px;
        margin-bottom: 0;
        margin-right: 25px;
    }


    h1.section_banner_title {
        font-size: 75px;
        font-weight: 300;
    }

    .section_banner_text {
        font-size: 20px;
    }

    .section_banner_info_wrap {
        margin-top: 25px;
        flex-direction: row;
        align-items: center;
    }

    .section_banner_info_text {
        font-size: 18px;
        max-width: 300px;
    }

    section.section_block.section_banner {
        padding-top: 65px;
    }

    .section_banner_count_text {
        font-weight: 300;
        font-size: 30px;
    }

    .section_banner_count {
        padding: 30px 40px;
    }

    .btn_menu {
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        height: 32px;
        appearance: none;
        background: transparent;
        border-radius: 0;
        border: none;
    }

    .btn_menu span {
        background: #828282;
        width: 27px;
        height: 2px;
        display: block;
        margin: 3px 0;
    }

    .header_main_logo {
        width: 100px;
    }

    .header_main_info {
        display: none;
        margin: 0;
    }

    .section_tiggers {
        margin-bottom: 70px;
    }

    .section_tiggers_wrap {
        padding: 40px 20px 25px;
        text-align: left;
    }

    .section_tiggers_title {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .section_tiggers_text {
        margin-bottom: 30px;
    }

    .section_tiggers_list {
        flex-direction: column;
    }

    .section_tigger {
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 45px;
    }

    .section_tigger_title {
        font-size: 28px;
        max-width: 400px;
        margin: 0;
    }

    .section_tigger img {
        width: 150px;
        margin-right: 30px;
    }

    .line_trigger {
        top: 157px;
        transform: rotate(90deg);
        left: 35px;
    }

    .line_trigger_2 {
        top: 358px;
    }

    .section_tiggers_list {
        justify-content: space-between;
    }



    .section_about {
        margin-bottom: 50px;
    }

    .main_footer_top .container {
        flex-direction: column;
    }

    .main_footer_top_icons {
        margin-bottom: 60px;
    }

    .under_footer {
        background-size: cover;
    }

    footer.main_footer {
        padding-top: 20px;
    }

    .main_footer_top {
        padding-bottom: 35px;
    }

    .main_footer_bottom .container {
        width: calc(100% - 40px);
        flex-direction: column;
        padding-top: 35px;
        padding-bottom: 50px;
    }

    .main_footer_bottom_info {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    span.main_footer_bottom_info_text {
        margin: 0;
        margin-bottom: 13px;
    }

    .main_footer_bottom_social {
        flex-direction: column;
    }

    .main_footer_bottom_social_title {
        margin: 0;
        margin-bottom: 13px;
    }

    .main_footer_bottom_social_list a,
    .main_footer_bottom_social_list a:first-child {
        margin: 0 5px;
    }

    .main_footer_top_icons span {
        width: 110px;
    }

    ul.main_footer_top_menu {
        flex-direction: column;
    }

    .main_footer_top_menu li {
        margin: 0;
        margin-bottom: 15px;
    }

    .main_footer_top_icons {
        margin-bottom: 50px;
    }

    .main_footer_top {
        padding-bottom: 20px;
    }

    .section_live_info {
        width: 100%;
        margin: 0;
        max-width: 600px;
    }

    .section_live_wrap {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .section_live_image {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        max-width: 400px;
    }

    .section_live {
        margin-bottom: 50px;
    }

    .btn_give_huggs {
        max-width: 334px;
    }

    .section_title {
        font-weight: 300;
    }
}

@media screen and (max-width:850px) {
    .content_faq__page__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .faq_item_head {
        padding: 35px 0px;
    }
    .faq_item_info {
        margin: 0 -32px;
        padding: 35px;
    }
    
    .faq_item_question {
        font-size: 22px;
    }
    .content_page__top {
        padding: 60px 0 45px;
    }
    
    .title__2 {
        font-size: 38px;
    }
    .content_page__inner {
        padding: 32px;
    }

    .section_banner_count {
        left: 20px;
        right: 20px;
        justify-content: center;
        padding: 25px 20px;
    }

    .section_banner_count_text {
        font-size: 26px;
        max-width: 170px;
    }
}

@media screen and (max-width:750px) {


    .section_about {
        display: none;
    }

    .section_live_wrap {
        align-items: center;
    }

    .section_live_info {
        text-align: center;
    }

    .section_title.section_live_info_title {
        line-height: 1.1;
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .section_live_info_bottom .btn_give_huggs {
        max-width: 340px;
        padding: 18px 0 14px;
    }

    .banner_mobile:after {
        content: '';
        position: absolute;
        display: block;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(0deg, #FFFEFD 0%, rgba(255, 254, 253, 0) 100%);

    }

    .banner_mobile {
        display: block;
        background-image: url(../images/mobile_banner.jpg);
        padding-bottom: 55%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        position: relative;
    }

    .section_banner_title__under {
        font-size: 17px;
        font-weight: normal;
    }

    .btn_give_huggs {
        max-width: 285px;
        font-size: 18px;
        padding: 17px 10px 13px;
    }

    header.header_main {
        background: #fff;
        padding: 12px 0;
    }

    .section_banner_info {
        text-align: center;
    }

    header.header_main:after {
        display: none;
    }

    .section_banner_text {
        margin: 0 auto 15px;
        max-width: 270px;
        color: #828282;
        font-size: 17px;
    }

    .section_banner_info_wrap {
        justify-content: center;
        margin-top: 20px;
    }

    section.section_block.section_banner {
        padding-top: 30px;
    }

    section.section_block.section_banner .container {
        background: linear-gradient(360deg, #FFFFFF 50.46%, rgba(255, 255, 255, 0) 91.13%);
    }


    .section_banner_bottom {
        background-size: cover;
        margin-top: -105px;
        margin-bottom: 0;
    }

    .section_banner_count {
        display: none;
        flex-direction: column;
        text-align: center;
        max-width: 700px;
        margin: auto;
        bottom: -305px;
    }

    .section_banner_count_text {
        max-width: 100%;
        margin-bottom: 12px;
        font-size: 24px;
    }

    .section_banner_count_text.section_banner_count_text_2 {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .section_banner_count_el {
        margin: 0;
    }


    h1.section_banner_title {
        line-height: 0.95;
        margin: 0 auto 15px;
        font-size: 50px;
        max-width: 300px;
    }



    .section_banner_info_text {
        font-size: 15px;
        max-width: 170px;
        text-align: left;
    }

    img.section_banner_image {
        width: 95px;
        margin-right: 25px;
    }

    .top_block {
        background-image: url(../images/mobile_banner.jpg);
        background-size: auto 50%;
        padding-bottom: 50px;
        background-position: 50% 100px;
        background-image: none;
    }

    .section_tigger_title {
        font-size: 18px;
        max-width: 230px;
        line-height: 1.3;
    }

    .section_tigger img {
        width: 100px;
        margin-right: 25px;
    }

    .line_trigger_1 {
        top: 120px;
    }

    .line_trigger {
        left: 10px;
    }

    .line_trigger_2 {
        top: 260px;
    }

    .section_tiggers_title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .section_tiggers_text {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .section_tigger {
        margin-bottom: 35px;
    }

    .section_tigger:last-child {
        margin-bottom: 0;
    }

    .section_tiggers_wrap {
        padding: 40px 40px;
    }

    section.section_block.section_tiggers {
        margin-bottom: 50px;
    }

    .section_about_image {
        max-width: 255px;
    }

    .section_title {
        font-size: 30px;
        line-height: 1.2;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .section_text {
        font-size: 17px;
        max-width: 360px;
        margin: 0 auto 30px;
        line-height: 1.25;
    }

    .section_text p {
        margin-bottom: 17px;
    }

    .section_live_image {
        max-width: 220px;
        margin-bottom: 25px;
    }

    section.section_block.section_live {
        margin-bottom: 30px;
    }


    ul.main_footer_top_menu {
        flex-direction: column;
    }

    .main_footer_top_menu li {
        margin: 0;
        margin-bottom: 15px;
    }

    .main_footer_top_icons {
        margin-bottom: 50px;
    }

    .main_footer_top {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:650px) {
    .def__text {
        font-size: 15px;
    }

    .def__text>* {
        margin-bottom: 15px;
    }

    .def__text h2 {
        font-size: 20px;
    }

    .def__text h3 {
        font-size: 17px;
    }

    .def__text ul,
    .def__text ol {
        padding-left: 25px;
    }
}


@media screen and (max-width:600px) {
    .section_banner_title__under {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .top_block {
        background-size: auto 700px;
    }

}


@media screen and (max-width:550px) {
    .title__2 {
        font-size: 30px;
        font-weight: 300;
    }
    
    .content_page__top {
        padding: 45px 0 40px;
    }
    .modal_def {
        max-width: 450px;
        padding: 45px 20px 80px;
    }

    .modal_share_title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .modal_share_text {
        font-size: 16px;
    }

    .modal_share_form_title {
        font-size: 16px;
        line-height: 1.2;
    }

    input.modal_share_form_field {
        padding: 14px 10px 13px;
    }

    .btn_send {
        padding: 19px 10px 15px;
    }

    .top_block {
        background-size: auto 600px;
    }

    .modal_share_social img {
        width: 44px;
    }

    .modal_share_social a {
        margin: 0 10px;
    }

    .modal_share_social {
        margin-top: 15px;
    }

    .modal_share_logo img {
        width: 75px;
    }

    .modal_thanks {
        padding: 50px 20px 75px;
    }



}


@media screen and (max-width:500px) {
    .faq_item_btn_inner {
        width: 38px;
        height: 38px;
    }
    
    .faq_item_btn_inner:after, .faq_item_btn_inner:before {
        height: 2px;
        width: 11px;
    }
    
    .faq_item_btn {
        margin-right: 25px;
        margin-top: -2px;
        padding: 2px;
    }
    
    .faq_item_question {
        font-size: 19px;
    }
    
    .content_faq__page__title {
        font-size: 24px;
    }
    
    .faq_item_head {
        padding: 32px 0;
    }
    
    .faq_item_info {
        margin: 0 -20px;
        padding: 25px 30px;
        font-size: 16px;
    }
    .content_page__inner {
        padding: 22px 20px;
    }

    .def__text {
        font-size: 14px;
        line-height: 1.5;
    }

    .def__text>* {
        margin-bottom: 13px;
    }

    .def__text h2 {
        font-size: 17px;
    }

    .def__text h1 {
        font-size: 19px;
    }

    .def__text h3 {
        font-size: 16px;
    }

    .def__text ul,
    .def__text ol {
        padding-left: 15px;
    }
}

@media screen and (max-width:450px) {
    .top_block {
        background-size: auto 500px;
    }

    .section_text {
        line-height: 1.35;
    }

    .section_title.section_live_info_title {
        line-height: 1.1;
    }

    .section_tiggers_wrap {
        padding: 30px 20px 30px 20px;
    }

    .section_tiggers_title {
        margin-bottom: 20px;
    }


}


@media screen and (max-width:420px) {
    .faq_item_head {
        padding: 22px 0 18px;
    }
    .content_faq__page__title {
        margin-bottom: 0;
        font-size: 20px;
    }

    .faq_item_question {
        font-size: 15px;
    }
    
    .faq_item_btn_inner {
        width: 24px;
        height: 24px;
    }
    
    .faq_item_btn_inner:after, .faq_item_btn_inner:before {
        width: 12px;
    }
    
    .faq_item_btn {
        margin-right: 15px;
    }
    
    .faq_item_info {
        font-size: 14px;
    }
    }

@media screen and (max-width:400px) {
    .title__2 {
        font-size: 24px;
    }
    
    .content_page__top {
        padding: 35px 0 25px;
    }
    .top_block {
        background-size: auto 450px;
        background-position: 50% 40px;
    }
}



@media screen and (max-width:376px) {
    .section_about_title {
        font-size: 25px;
    }

    .section_about_bottom_images {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .section_about_bottom_images img {
        width: 100px;
        margin: 0;
    }

    .section_about_bottom_images img:first-child {
        margin-right: 30px;
    }

    .header_main_logo {
        width: 80px;
    }
}

@media screen and (max-width:360px) {
    .top_block {
        background-size: auto 370px;
        background-position: 50% 50px;
    }

    section.section_block.section_banner {
        padding-bottom: 60px;
    }

    section.section_block.section_banner .container {
        background: linear-gradient(360deg, #FFFFFF 70.46%, rgba(255, 255, 255, 0) 91.13%);
    }

    .section_banner_count {
        bottom: -255px;
    }

    .section_banner_count_item {
        font-size: 35px;
    }

    .section_banner_count_item_first {
        margin-right: 5px;
    }

    .section_banner_count_text {
        font-size: 20px;
    }


    .section_tigger_title {
        font-size: 14px;
    }

    .section_tigger img {
        width: 80px;
        margin-right: 15px;
    }

    .section_tigger {
        margin-bottom: 29px;
        flex-wrap: wrap;
    }


    .line_trigger {
        left: -6px;
        top: 62px;
    }

    .line_trigger_2 {
        top: 197px;
    }



    .section_about_title {
        font-size: 25px;
    }

    .section_tigger_title {
        font-size: 16px;
    }

    .section_tiggers_title {
        font-size: 24px;
        padding-left: 10px;
        margin-bottom: 15px;
    }

    .section_tigger_title {
        font-size: 15px;
        width: calc(100% - 80px);
    }

    .section_tigger img {
        width: 65px;
    }

    .section_tiggers_wrap {
        padding: 30px 15px;
    }

    .modal_def {
        max-width: 450px;
        padding: 45px 20px 70px;
    }

}


@media screen and (max-height:415px) {

    .modal_menu ul.header_main_menu {
        flex-direction: row;
        margin-bottom: 30px;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .modal_menu ul.header_main_menu li {
        width: 50%;
        margin-bottom: 15px;
    }
}